body {
	color: #333;
	margin: 0px;
    font-family: 'PT Serif', arial, serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'PT Serif Caption', arial, serif;
}
a, a:active {
	color: #9c1a02;
	text-decoration: none;
}

a:hover {
	color: #999;
	text-decoration: none;
}

.box {
    background-color: #fff;
    border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

p {
	text-align: justify;
}

#header_wrapper {
	color: #777;
	background-color: #2B2B29;
	border-bottom: 2px solid #999999;
}

#header div {
	margin-bottom: 5px;
}

#nav {
	margin-bottom: 0px;
    text-align: center;
}

#nav div{
    margin-top: 2px;
    padding-top 3px;
    padding-bottom: 3px;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#nav a {
	color: #FFF;
    font-size: 1.4em;
    width: 100%;
}

#nav a:hover, #nav div a:active {
	text-decoration: none;
	color: #FFF;
    text-shadow: #999 0px 0px 7px;
}

#logo {
    font-size: 24px;
    font-family: 'Molengo';
    color: #fff;
	background-repeat: no-repeat;
	height: 40px;
	margin-left: 10px;
	display: block;
    padding-top: 10px;
}

#logo .red {
    color: red;
}

#footer {
    border-top: 1px solid #ddd
}

.blog_post_title {
    margin-bottom: 0px;
}

.blog_post_title a {
    color: #000;
}
