{% extends "base.html" %}

{% block title %}{{ article.title }} - {% endblock title %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
    <footer class="post-info">
      <time datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
    </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->

    <hr />

    <p>
      Thanks for reading. You should follow me on 
      <a href="https://twitter.com/d0ugal">Twitter</a>. 
    </p>

    <p>
      Got any feedback or comments? The best place for discussion is on
      <a href="//www.reddit.com/submit" onclick="window.location =
          '//www.reddit.com/submit?url=' + encodeURIComponent(window.location);
          return false">Reddit</a> 
      or <a href="https://news.ycombinator.com/submit">Hacker News</a>.
      Otherwise, <a
          href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#111;&#117;&#103;&#97;&#108;&#64;&#100;&#111;&#117;&#103;&#97;&#108;&#109;&#97;&#116;&#116;&#104;&#101;&#119;&#115;&#46;&#99;&#111;&#109;">email
      me</a>.
    </p>

</section>
{% endblock %}
