{% extends "base.html" %}

{% block title %}{{ article.title }} - {% endblock title %}

{% block content %}
<section id="content" class="body">
  <div class="entry-content">
    <div class="row">
      <div class="span8">
        <header>
          <h2 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
              title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        </header>
        <footer class="post-info">
          <time datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
          </time>
        </footer><!-- /.post-info -->
        {{ article.content }}
      </div>
      <div class="span4 hidden-phone readinglist">
        <h4>Other recent posts ... </h4>
        <ul>
        {% for a in articles|slice(4)|first %}
          {% if a.title != article.title %}
          <li><a href="/{{ a.url }}" rel="bookmark" title="Permanent Link to {{ a.title }}">
            {{ a.title }}
          </a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div><!-- /.entry-content -->

    <hr />

    <p>
      Thanks for reading. You should follow me on
      <a href="https://twitter.com/d0ugal">Twitter</a>.
    </p>

    <p>
      Do you have any feedback or comments? The best place for discussion is on
      <a href="//www.reddit.com/submit" onclick="window.location =
          '//www.reddit.com/submit?url=' + encodeURIComponent(window.location);
          return false">Reddit</a>
      or <a href="https://news.ycombinator.com/submit">Hacker News</a>.
      Otherwise, <a
          href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#111;&#117;&#103;&#97;&#108;&#64;&#100;&#111;&#117;&#103;&#97;&#108;&#109;&#97;&#116;&#116;&#104;&#101;&#119;&#115;&#46;&#99;&#111;&#109;">email
      me</a>.
    </p>

</section>
{% endblock %}
