{% extends "base.html" %}

{% block title %}{{ article.title }} - {% endblock title %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
    <footer class="post-info">
      <time datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
    </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->

    <hr />

    <p>
      Thanks for reading. You should follow me on 
      <a href="https://twitter.com/d0ugal">Twitter</a>. 
    </p>

    <p>
      Got any feedback or comments? The best place for discussion is on Reddit
      or hackernews.
    </p>

</section>
{% endblock %}
