<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="icon" href="{{ SITEURL }}/theme/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap-responsive.css" type="text/css" media="screen, projection" />
  <link href='http://fonts.googleapis.com/css?family=Lato:regular|PT+Serif+Caption|PT+Serif|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link href="{{ SITEURL }}/theme/css/monokai.css" rel="stylesheet" type="text/css" />
  <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" type="text/css" />

  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ SITEURL }}/theme/img/iconified/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{ SITEURL }}/theme/img/iconified/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/img/iconified/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ SITEURL }}/theme/img/iconified/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/img/iconified/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ SITEURL }}/theme/img/iconified/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ SITEURL }}/theme/img/iconified/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/theme/img/iconified/apple-touch-icon-152x152.png" />

  {% block head %}
  <title>{% block title %}{% endblock title %}{{ SITENAME }}</title>
  <meta charset="utf-8" />
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  {% endblock head %}

  <meta name="google-site-verification" content="GNt31_M2DlGd--mcA_1JjGH46qPSDdpnSiWi7Y_9Ltk" />
  <meta name="verify-v1" content="d4ZT12Eg5dza8IxtDZlqiZoC0EzBnLxeYeK2PTiaIrU=" />
  <meta name="msvalidate.01" content="08FE3976E4596314289973311F691DC2" />
  <meta name="y_key" content="ef34f6756bc76371" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  {% block extrahead %}{%endblock%}

</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="navbar-centre">
        <a class="brand" href="/"><span class="red">Dougal</span> <span class="white">Matthews</span></a>
        {% for title, link in MENUITEMS %}
          <div class="span-3">
            <a href="{{ link }}">{{ title }}</a>
          </div>
        {% endfor %}
        <ul class="nav">
            <li {% if output_file == "code/index.html" %}class="active"{% endif %}><a href="/code/">Code</a></li>
            <li {% if output_file == "notes/index.html" %}class="active"{% endif %}><a href="/notes/">Notes</a></li>
            <li {% if output_file == "work/index.html" %}class="active"{% endif %}><a href="/work/">Work</a></li>
            <li {% if output_file == "talks/index.html" %}class="active"{% endif %}><a href="/talks/">Talks</a></li>
            <li {% if output_file == "about/index.html" %}class="active"{% endif %}><a href="/about/">About</a></li>
        <ul class="nav">
      </div>
    </div>
  </div>

  <div id="content_wrapper">

    <div id="content" class="container prepent-top">

        {% block content %}
        {% endblock %}

    </div>

  </div>

  <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-947562-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
    })();

  </script>
  <script src="/theme/js/anti-butt.js"></script>

</body>
</html>
