{% extends "base.html" %}

{% block content %}

  {{ p }}
  <div class="intro">
    <p>
      Hi, I'm Dougal.
    </p>
    <p>
      I'm a Python developer living in Scotland.
    </p>
    <p>
      If you want to get in touch, drop me an
      <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#111;&#117;&#103;&#97;&#108;&#64;&#100;&#111;&#117;&#103;&#97;&#108;&#109;&#97;&#116;&#116;&#104;&#101;&#119;&#115;&#46;&#99;&#111;&#109;">email</a>.
      Otherwise, have a look around and see my latest posts below.
    </p>
  </div>

  <div class="article_list">
    {% for article in articles %}

      {% if article.category == 'notes' %}
        {% continue %}
      {% endif %}

      <article>
        <time datetime="{{ article.date.isoformat() }}">
          {{ article.date.strftime('%d %b %Y') }}
        </time>
        <header>
          <a href="{{ article.url }}" rel="bookmark" title="Permanent Link to {{ article.title }}">
            {{ article.title }}
          </a>
        </header>
      </article>

    {% endfor %}
  </div>

{% endblock content %}