{% extends "base.html" %}

{% block content %}

  <div class="notes intro">
    <p>
      Similar to blog posts, notes contains bits of information I've learned
      while working with something. However, unlike blog posts which represent
      knowledge at a specific time, I'll aim to keep these up to date.
    </p>
  </div>

  <div class="note_list">
    {% for article in articles %}

      {% if article.category != 'notes' %}
        {% continue %}
      {% endif %}

      <article>
        <header>
          <a href="{{ article.url }}" rel="bookmark" title="Permanent Link to {{ article.title }}">
            {{ article.title }}
          </a>
        </header>
        <div class="summary">
          {{ article.short_summary }}
        </div>
      </article>

    {% endfor %}
  </div>

{% endblock content %}
