{% extends "base.html" %}

{% block content %}

  <div class="intro">
    <p>
      These are like blog posts, but rather contain a set of notes and bits of
      information I wish I knew about something when I started. I'll aim to keep
      these up to date and relevant unlike blog posts which can become stale.
    </p>
  </div>

  <div class="note_list">
    {% for article in articles %}

      {% if article.category != 'notes' %}
        {% continue %}
      {% endif %}

      <article>
        <a href="/{{ article.url }}" rel="bookmark" title="Permanent Link to {{ article.title }}">
          {{ article.title }}
        </a>
        <div class="summary">{{ article.short_summary }}</div>
      </article>

    {% endfor %}
  </div>

{% endblock content %}